@page "/Clients/{clientid:long}/Tradingview";
@using JCTG.WebApp.Frontend.Components.Tradingview
@inject ChartService chartService

<h1>Tradingview</h1>

<TradingViewChart @ref=tv />

@code {
    [Parameter]
    public long ClientId { get; set; }

    TradingViewChart? tv;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Only on first render
        if (!firstRender)
            return;

        // Load the data
        ChartData data = new()
            {
                ChartEntries = (await chartService.GetSampleData())
                        .Cast<IChartEntry>().ToList(),
                MarkerData = await chartService.GetSampleMarkers()
            };

        // Optionally define options
        ChartOptions options = new()
            {
                Width = -75,
                Height = 500,
                LayoutBackgroundColor = "white",
                LayoutTextColor = "black",
                HorzLinesColor = "white",
                VertLinesColor = "white",
                VolumeColorDown = "white",
                VolumeColorUp = "white",
            };

        // Load the chart
        if (tv != null)
            await tv.LoadChartAsync(data, options);
    }
}
