@page "/Clients/{clientid:long}/Tradingview";
@using JCTG.Events
@using JCTG.WebApp.Frontend.Components.Tradingview
@inject JCTG.WebApp.Backend.Websocket.WebsocketFrontend _websocket
@inject JCTG.WebApp.Backend.Websocket.AzurePubSubClient _pubSubClient
@inject ClientRepository _clientRepository

<h1>Tradingview</h1>

<Chart @ref=tv />


@code {
    [Parameter]
    public long ClientId { get; set; }

    private Chart? tv;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Only on first render
        if (!firstRender || tv == null)
            return;

        // Get client
        var client = await _clientRepository.GetById(692803787, ClientId);

        // Init tradingview Chart
        await tv.InitAsync(new()
            {
                Width = -75,
                Height = 1000,
            });

        // Do null reference check
        if (tv.IsInit && client != null)
        {
            // Init the event handler
            _websocket.SubscribeToOnGetHistoricalBarDataEvent(async (onGetHistoricalBarDataEvent) =>
            {
                // Do null reference check
                if (onGetHistoricalBarDataEvent != null
                    && onGetHistoricalBarDataEvent.ClientID > 0
                    && onGetHistoricalBarDataEvent.AccountID > 0
                    && onGetHistoricalBarDataEvent.BarData != null
                    && onGetHistoricalBarDataEvent.AccountID == 692803787
                    && onGetHistoricalBarDataEvent.ClientID == ClientId
                )
                {
                    // Get the data from the event
                    var candleData = onGetHistoricalBarDataEvent.BarData.Select(x => new CandlePoint()
                        {
                            Time = x.Time,
                            High = x.High,
                            Low = x.Low,
                            Open = x.Open,
                            Close = x.Close,
                            Volume = Convert.ToDecimal(x.TickVolume),
                        }).ToList();

                    // Load the chart
                    await tv.AddCandlestickSeriesAsync(candleData);
                }
            });

            // Send command to Metatrader
            await _pubSubClient.SendGetHistoricalBarDataAsync(692803787, new Command.OnSendGetHistoricalBarDataCommand()
                {
                    AccountID = 692803787,
                    ClientID = ClientId,
                    Symbol = "BTCUSDT",
                    Timeframe = "M5",
                    StartDate = DateTime.UtcNow.AddDays(-7),
                });
        }
    }
}
