@page "/Clients/{clientid:int}/Tradingview";
@using JCTG.WebApp.Frontend.Components.Tradingview


<h1>Tradingview</h1>

<TradingViewChart @ref=myChart />

@code {
    [Parameter]
    public int ClientId { get; set; }

    TradingViewChart? myChart;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Only on first render
        if (!firstRender)
            return;

        // Load the data
        ChartData data = new()
            {
                ChartEntries = new List<IChartEntry>(),
                MarkerData = new List<Marker>(),
            };

        // Optionally define options
        ChartOptions options = new()
            {
                TimeScaleSecondsVisible = false,
                Width = -75
            };

        // Load the chart
        if (myChart != null)
            await myChart.LoadChartAsync(data, options);
    }
}
