@inject Membership membership;
@using Microsoft.Graph.Models;


<div class="modal fade @_cssClass" tabindex="-1" style="display:@_display">
    <EditForm Model="@model" OnValidSubmit="@SubmitAsync">
        <div class=" modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary text-white">
                    <h4 class="modal-title text-white" id="primary-header-modalLabel"> User </h4>
                    <span class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" @onclick="async () => await CloseAsync()"></span>
                </div>
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <AntiforgeryToken />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="ticker-in-tradingview">Display Name</label>
                                <InputText class="form-control" @bind-Value="model.DisplayName" />
                            </div>
                        </div>
                        @if(model.PasswordProfile != null)
                        {
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="ticker-in-tradingview">Password</label>
                                    <InputText class="form-control" @bind-Value="model.PasswordProfile.Password" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <span @onclick="() => AddIdentity()" class="btn btn-success font-weight-medium waves-effect waves-light">
                                    <i class="ti ti-circle-plus fs-5"></i>
                                </span>
                                <span @onclick="() => RemoveIdentity()" class="btn btn-danger">
                                    <i class="ti ti-minus"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    @if(model.Identities != null)
                    {
                        foreach (var identity in model.Identities)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Sign in type</label>
                                        <InputSelect class="form-select col-12" @bind-Value="identity.SignInType">
                                            <option value="emailAddress">Email</option>
                                            <option value="federated">Federated</option>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Issuer</label>
                                        <InputSelect class="form-select col-12" @bind-Value="identity.Issuer">
                                            <option value="justcalltheguy.onmicrosoft.com">justcalltheguy.onmicrosoft.com</option>
                                            <option value="google.com">google.com</option>
                                            <option value="facebook.com">facebook.com</option>s
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label">Issuer Assigned Id</label>
                                        <InputText class="form-control" @bind-Value="identity.IssuerAssignedId" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <div class="d-flex gap-6 m-0">
                        <button type="submit" class="btn btn-primary  rounded-pill px-4"> Save </button>
                        <span class="btn bg-danger-subtle text-danger rounded-pill" @onclick="async () => await CloseAsync()"> Discard </span>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnOpen { get; set; }

    [SupplyParameterFromForm]
    private User model { get; set; } = Membership.Empty();

    private CrudState _crudState { get; set; } = CrudState.None;

    private string _display = "none;";
    private string _cssClass = "hide";

    public async Task OpenAsync()
    {
        _display = "block;";
        _cssClass = "show";
        await OnOpen.InvokeAsync();
        StateHasChanged();
    }

    public async Task CloseAsync()
    {
        _display = "none;";
        _cssClass = "hide";
        await OnClose.InvokeAsync();
        StateHasChanged();
    }

    public void RemoveIdentity()
    {
        if (model.Identities == null)
            model.Identities = new List<ObjectIdentity>();
        if(model.Identities.Count > 0)
            this.model.Identities.Remove(this.model.Identities.Last());
    }

    public void AddIdentity()
    {
        if (model.Identities == null)
            model.Identities = new List<ObjectIdentity>();
        this.model.Identities.Add(new() { Issuer = "justcalltheguy.onmicrosoft.com" });
    }

    public async Task InitAsync(int accountId, string? id = null)
    {
        if (id != null)
        {
            var modelNew = await membership.GetAsync(id);
            if (modelNew != null)
            {
                model = modelNew;
                if (model.PasswordProfile == null)
                    model.PasswordProfile = new PasswordProfile();
                await OpenAsync();
                _crudState = CrudState.Edit;
            }
        }
        else
        {
            model = Membership.Empty();
            await OpenAsync();
            _crudState = CrudState.Add;
        }
    }


    public async Task SubmitAsync()
    {
        if (model != null && model.Identities != null && model.Identities.Count() >= 1)
        {
            if (_crudState == CrudState.Add)
            {
                if (model.Identities.Count(f => f.SignInType == "emailAddress") == 1)
                    model.Mail = model.Identities.First(f => f.SignInType == "emailAddress").IssuerAssignedId;
                await membership.CreateAsync(Guid.Parse("d0d4c576-8aa4-4f12-b42c-bc05b18349f4"), model);
            }
            else if (_crudState == CrudState.Edit && model.Id != null)
            {
                await membership.UpdateAsync(model.Id, model);
            }

            _crudState = CrudState.None;
            model = Membership.Empty();
            await CloseAsync();
        }
    }
}
