@inherits LayoutComponentBase

<PageTitle>The Trade Hubler</PageTitle>


<div id="main-wrapper">
    <aside class="left-sidebar with-vertical">
        <div>
            <NavMenu />
        </div>
    </aside>
    <div class="page-wrapper">
        <header class="topbar">
            <TopBar />
        </header>

        <div class="body-wrapper">
            @Body

            <footer class="footer text-center py-3">
                All Rights Reserved by JP.x BV. Designed and Developed by <a class="text-primary" href="https://www.justcalltheguy.io">Joeri Pansaerts</a>.
            </footer>
        </div>

    </div>
</div>
